<% if (post.tags && post.tags.length){ %>
  <% post.tags.forEach(function(tag) { %>
    <a href='<%= config.root + tag.path %>' style='color: #ddd; margin:3px 7px 3px 0;'><%= tag.name %></a>
  <% }); %>
<% } %>
