<div id="credit-wrapper">
  Copyright © <a href="http://dcmdark-btemplates.blogspot.com/" title="All Rights Reserved"> DCM Dark</a>
  <a href="http://urang-kurai.blogspot.com/" style="display:none;" title="urang-kurai All Rights Reserved">Urang-kurai</a>
  | <a href="http://kywk.github.io/hexo-theme-dcm_dark/">Hexo Ported</a> by <a href="http://kywk.github.io/">Moo Cow (Aka. kywk)</a>.
</div>
